@CHARSET "UTF-8";
.comUl{ padding:1% 2%}
.comUl li{ float:left; margin-right:20px}
.comUl li label{ width:80px; text-align:right}
.layui-textarea{ min-height: 200px;}
.layui-table thead tr{background-color: #DDECFF;}
.layui-table td, .layui-table th {
    text-align: center;
    }
table, figure { page-break-inside: avoid; }
.bold{ font-weight:bold}

.s_selectInput{ padding-right:5px !important}
.layui-form-radio{font-size:unset}
label{font-weight: normal}
.company{font-size:22px;letter-spacing:10px;}
.title{font-size:24px;letter-spacing:10px;}
.tips{margin-top:35px}
.inpTab{border:1px solid #e2e2e2;}
.marT10{margin-top:10px}
.marT20{margin-top:20px}
.padL5{padding-left:5px}
.pad10{padding:10px}
.padT10{padding-top:10px}
.padT20{padding-top:20px}
 .gery{background:#F7F7F7}   
 .red{color:red;}   
 .searchForm{margin-left:1%}
.money{ text-align:right;padding-right: 5px;}  
.blue{ color:#2AA4FF}  
.getMoney input{ text-align:right}
 .borderLine{border: 1px solid #D2D2D2;}
.layui-body{overflow-y: scroll;}
.breadcrumb{margin: 15px;display: block;visibility: visible}
.layui-form-label{line-height: 38px;padding: 0}
.input-div{width: 300px;}
.layui-table-view{width:100% !important}
.layui-btn-normal{ margin:0 5% 1% 0 !important}
.searchBtn{height: 35px !important;line-height: 35px !important; margin-left:5px}
.selectUl li:hover,.s_selectUl li:hover{background:#EBEBEB;}
@media screen and (max-width: 1400px){
	.layui-textarea {
    min-height: 100px;
}
	.btn-group{
		margin:0 !important;
	}
	.layui-table td, .layui-table th {
	    padding: 9px 5px !important;
	}
	.layui-form-label{line-height: 30px;}
	.layui-btn {
    height: 30px;
    line-height: 30px;
    }
	.layui-input, .layui-select {
    height: 30px;
   }
}