<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">    
<mapper namespace="com.ycgwl.kylin.security.persistent.KylinSysUserMenuMapper">
	
	
	<insert id="save">
		insert into kylin_sys_user_menu
		(
			grid, 
			menu_id
		)
		values
		<foreach collection="menuIdList" item="item" index="index" separator="," >
		(
			#{grid}, 
			#{item} 
		)
		</foreach>
	</insert>
	
	<delete id="delete">
		delete from kylin_sys_user_menu where grid = #{value}
	</delete>
	
	
</mapper>