<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		" default-lazy-init="true">

	<description>Spring Configuration</description>
	
	<context:component-scan base-package="com.ycgwl.kylin.security">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>


	<import resource="spring-persistence.xml" />
	<import resource="spring-dubbo.xml" />
	
	 
	<context:property-placeholder ignore-unresolvable="true" file-encoding="UTF-8" location="classpath:conf/application.properties"/>
	<!-- 开发环境 -->
	<beans profile="dev">
		<context:property-placeholder ignore-resource-not-found="true" file-encoding="UTF-8" location="classpath:/conf/application.dev.properties" />
	</beans>
	<!-- 测试环境 -->
	<beans profile="uat">
		<context:property-placeholder ignore-resource-not-found="true" file-encoding="UTF-8" location="classpath:conf/application.uat.properties" />
	</beans>
	<!-- 生产环境 -->
	<beans profile="prod">
		<context:property-placeholder ignore-resource-not-found="true" file-encoding="UTF-8" location="classpath:/conf/application.prod.properties" />
	</beans>
</beans>